services:
    php:
        build: 
            context: ./php
        ports:
            - "8080:80"
        volumes:
            - ./app:/var/www/html

    database:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: secret
            MYSQL_DATABASE: exoPassWord
            MYSQL_USER: app
            MYSQL_PASSWORD: azerty
        volumes:
            - mysql_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        ports:
            - "8081:80"
        environment:
            PMA_HOST: database
            PMA_PORT: 3306
        depends_on:
            - database


volumes:
    mysql_data: