
body {
    background-color: rgba(173, 216, 230, 0.666);
}

section {
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: lightblue;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.516);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
}

.form > div {              
    display: flex;        
    flex-direction: column; 
    gap: 0.5rem;
}

.form label {
    font-weight: bold;
}

.form input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.516);
}

.form button {
    background: #007bff;
    color: white;
    padding: auto 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
    width: 120px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.516);
}

.form button:hover {
    background: #0056b3;
}

h1 {
    text-align: center;
}